/* フォントサイズ */
html, body{
    font-size: 14px;
    line-height: 1.25em;
}

h1{
    font-size: 4.2rem;
}

h2{
    font-size: 2.618rem;
}

h3{
    font-size: 1.618rem;
}

/* タイポグラフィ */
* {
    font-family: 'Comic Sans MS',sans-serif;
}

.home-side-spac{
    background-color: rgb(255, 231, 181, 1);
}
/* homeスライドショー */
.carousel{
    justify-content: center;
    height: 500px;
    max-width: 900px;
    margin-left: 20%;
    margin-right: 20%;
    background-color:black;
    color: white;
    text-align: center;
}
.home-images-item{
    justify-content: center;
    height: 500px;
    max-width: 900px;
  
}
.home-images-text{
    font-size: 40px;
}

/* 季節のメニュー的な */
.home-new-menu-title{
    text-align: center;
    color: white;
}
.home-new-menu-box{
    background-color: rgb(110, 60, 32, 1);
}
.home-new-menu{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.home-new-menu-img{
    height: 200px;
    width: 200px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQba6sogtl03pP7xLVerSdgw-q_OAbN8AnqpIZeGrfVOcogNZArHg);
    margin: 50px;
}
.home-new-menu-img-2{
    height: 200px;
    width: 200px;
    margin: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl9AV0XSLSQAcDF2Sp_Pc7nzEAhyEQjZU2hIQjbydSivjGEWfXCw);
}
.home-new-menu-img-3{
    height: 200px;
    width: 200px;
    margin: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFLK_FtYziCWDDi_LY8ocdOmkwc0Q2oGm_5XG2qVSlXHiRD7XNOQ);
}

.home-last-text{
    color: white;
    text-align: center;
    font-size: 30px;
}


body{    background-color:rgba(110,60,32,1);
}/*背景カラー */

.kk-contentsbox{
    width:100%;
    min-height:100%;
    display:block;
    margin:0 10px;
    color: rgba(255, 231, 181, 1);
}/*サイトの大きさ、text-align*/


.kk-contentsbox h2{
    color: rgba(255, 231, 181, 1);
    margin-bottom: 1em;
    line-height: 1em;

}/*ACCESSフォントサイズ、カラー*/


.kk-section{
    margin-bottom: 60PX;
}/*アクセスページのmargin-bottom*/

.kk-accsesslist{
    margin:60px;
}/*アクセスの基本情報を入れるbox*/

dl{
    display:block;
    -webkit-margin-before:1em;
    -webkit-margin-after:1em;
    -webkit-margin-start:0em;
    -webkit-margin-end:0em;
}

.kk-accsesslist dt{
    font-size: 1.618rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.846em;
    height:60px;
}

.kk-accsesslist dd{
    font-size: 1.3em;
    margin:1.846em;
    line-height: 1.846em;
}

.kk-contact{
    margin:60px;
}

.kk-contact_contents_text1 p{ 
    text-align: center;
    font-size: 1em;
}


/* ヘッダー */
.mm-header {
    height: 80px;
    width: 100;
    background-color:rgba(55,0,0,1);
}

.mm-header a {
    height: 80px;
    line-height: 80px;
    width: 100%;
    color: white;
    display: block;
    text-decoration: none;
}

.mm-header a:hover {
    background-color: #6F553D;
}

.mm-header-wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

/* メニュー　*/
.ny-menu ul{
    list-style: none;
}

.ny-image {
    background-color:black;
    height: 80px;
    width: 80px;
}

.ny-title {
    color:rgba(255, 231, 181, 1);
    font-weight: inherit;
}

.ny-drinkmenu {
    border:double 7px rgba(255, 231, 181, 1);
    width:60%;
}
.mm-header-title {
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    font-weight: bold;
}

.mm-header-nav {
    display: inline-block;
    position: absolute;
    right: 0;
}

.mm-header-nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.mm-header-nav li {
    width: 110px;
    margin-left: 30px;
    font-size: 1.618rem;
    text-align: center;
}

/* フッター　*/
.oy-footer {
    height: 40px;
    background-color:rgba(55,0,0,1);
    display: flex;
    justify-content: center;
}
.oy-footer-text{
    margin-top: 10px;
    height: 100%;
    font-size: 17px;
    width: 350px;
    color: rgba(255,255,255,1);
    display: flex;
    justify-content: space-around;
}